body{
	background-color: #DED9D3;
	margin: 0;
}



.container{
	width: 800px;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 30px;
}

.content{
	background-color: #FFF;
	padding-top: 50px;
	padding-bottom: 100px;
}

.content h2{
}

.event{
	margin-left: 30px;
}

.banner{
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
  	height: 100px;
}

.name{
	font-family: helvetica;
	font-size: 3.5em;
	text-decoration:none;
	color: #000;
	float: left;
	padding: 10px 20px 10px 20px;
}